<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="./css/style.css">
    <script type="module" src="./frontend/login.js"></script>
</head>
<body>
        <div id="app" class="login-container">
            <h2>Авторизация</h2>
            <form @submit.prevent="login">
                <input v-model="email" type="text" placeholder="E-mail" required>
                <input v-model="password" type="password" placeholder="Пароль" required>
                <button v-on:click="login" type="submit">Войти</button>
            </form>
        </div>
        <div id="content">

        </div>

    </body>
</html>